@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@700&display=swap');
body{
  max-width: 100rem;
  overflow-x: hidden;
  font-family: sans-serif;
}
#title{
  background-color: #ff4c68;
}
h1
{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
.container-fluid
{
  padding: 3% 15% 7%;
}
.navbar
{
  padding:0  0 4.5rem;
}
.navbar-brand
{
  font-family:'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.mob
{
  transform: rotate(25deg);
  position: absolute;
  width: 19%;
  right: 350px;
}
.nav-item
{

  font-size: 20px;
  padding: 0 30px;
}
/* features */
#features
{
    padding:7rem 15rem;
    font-family: sans-serif;
    background-color: #fff;
    position: relative;
}
.fea
{
  color:#ef8172;
  padding-bottom: 1rem;
}
.fea:hover
{
  color: #ff4c68;
}
.feature-box
{
  text-align: center;
  padding: 5%;
}
p
{
  color: #8f8f8f;
}
.col-lg-4
{
  padding-bottom:4rem;
}
/* Testimonials-Styling */
#testimonials{
  font-family: sans-serif;
  background-color:#ef8172;
  text-align: center;
  color: #fff;
}
h2
{
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item
{
  padding: 7% 15%;
}
/* press-section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo
{
  width: 10%;
  margin: 20px 20px 50px;
}
/* pricing-section */
#pricing
{
  padding: 7%;
  text-align: center;
}
.pricing-col
{
  padding: 3% 2%;
}
